/** Global */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Balsamiq Sans', cursive;
  background-color: #f6f3f2;
  line-height: calc(1.5em + 0.2vw);
  word-break: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.column4 {
  float: left;
  padding: 37px;
  height: 300px;
  width: 33.33%;
}

.column4 h2 {
  font-size: 1.7em;
  margin-bottom: 24px;
  text-decoration: underline;
}

.column4 p {
  margin-top: 10px;
  font-size: 1.2em;
  color: #111;
  line-height: 2.1em;
}

.column4 h2 a {
  color: #121c3c;
}

.column4 span a {
  color: #121c3c;
}

.column4 a {
  color: red;
}

.column4:hover h2 a {
  color: red;
}

.column4:hover {
  transform: scale(1.01);
  background-color: white;
}

.column4:hover .arrow-latest {
  background-color: #006fc6;
  color: white;
  width: 110px;
  height: 110px;
}

.latest {
  height: 401px;
}

header {
  min-width: 1600px;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: #d33a2c;
  padding: 1rem 2em;
  height: 110px;
  z-index: 2;
  align-items: center;
}

.nav-item {
  flex-grow: 1;
  padding: 0 10px;
}

.nav-item > a {
  color: white;
  padding: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.nav-item > button {
  color: white;
  padding: 0.35em 0.9rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  z-index: 3;
  font-weight: 700;
}

.logo {
  height: 3.5em;
  transform: translate(0, 15%);
}

.nav-item11,
.nav-item1 {
  flex-grow: 2;
}

.nav-item11 input {
  outline: 0;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 5px;
}

.nav-item10 button {
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-item10 button {
  max-width: 100%;
  min-width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item10 button img {
  width: 32px;
  height: 32px;
}

.nav-item a {
  border: none;
  border-radius: 10px;
}

.nav-item:not(.nav-item1) a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.column4 {
  text-align: initial;
  float: left;
  padding: 37px 17px 17px 17px;
  height: 450px;
  width: 33.33%;
  position: relative;
}

.latest {
  margin-top: 14px;
  height: 419px;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

.article article {
  padding: 150px 84px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  display: inline-block;
  float: none;
  vertical-align: middle;
  white-space: initial;
  margin: 0.2em 0 0 0;
}

.arrow {
  font-size: 5rem;
  color: #fff;
  display: block;
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}

.arrow-latest {
  font-size: 2rem;
  color: #fff;
  display: block;
  position: absolute;
  left: -0.1rem;
  bottom: 1.5rem;
  top: 76%;
  padding-left: 35px;
  padding-top: 35px;
}

.article img {
  width: 70px;
  height: 70px;
  background-color: white;
  margin-right: 30px;
  border: 4px solid #fff;
  border-radius: 8px;
}

.profile {
  transform: rotate(-15deg);
  transform-origin: left bottom;
}

.profile:hover {
  transform: rotate(-1deg);
}

.box {
  width: 50%;
  height: 550px;
  position: relative;
}

.box h1 {
  font-size: 2em;
  font-weight: 900;
  line-height: 1.2em;
}

.box p {
  font-size: 1.2em;
  line-height: 88px;
}

.box p span {
  color: black;
}

.box .comment {
  font-size: 0.6em;
}

.box article div {
  position: relative;
}

.box-color1 {
  background: #bc3e28;
}

.box-color2 {
  background: #c8422a;
}

.box-color3 {
  background: #b13a25;
}

.box-color4 {
  background: #bc3e28;
}

.box .writer-name {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  display: inline-block;
  float: none;
  font-size: 1.29em;
  vertical-align: middle;
  white-space: initial;
  margin: 0.2em 0 0 0;
}

.name-position {
  position: absolute;
  top: 10px;
}

@media (max-width: 700px) {
  .box {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .box {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .article article {
    padding: 60px 60px;
  }
}


/* START: Smashing Members section */

.smashing-members {
  clear: both;
  display: grid;
  margin: 20px 0;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 20px;
}

.smashing-members2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 20px;
}

.counter {
  display: flex;
  border: none;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  background-color: #d33a2c;
  padding: 20px 0;
}

.counter-img {
  width: 258px;
  height: 290px;
  background: url('../images/singing-barista.svg') 0 0 no-repeat;
}

.counter-footer {
  font-size: calc(0.7em + 0.1vw);
  padding: 1.5em 1.5em 0 1.5em;
  line-height: 1.5;
}

.cf-link {
  color: #fff;
}

.number-heading {
  font-size: 2.14857em;
  text-shadow: 3px 0 #d33a2c, 2px 0 #d33a2c, 1px 0 #d33a2c, -1px 0 #d33a2c, -2px 0 #d33a2c, -3px 0 #d33a2c;
}

.number-heading a {
  text-decoration: underline;
  color: #fff;
}

.counter p {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 1em;
  line-height: calc(1.5em + 0.2vw);
  word-break: break-word;
}

.news {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-author {
  color: #666;
  text-decoration: underline;
}

.news-author:hover {
  color: #333;
}

.news .day {
  text-transform: uppercase;
  color: #666;
  font-size: 0.8em;
}

.news-item {
  padding: 10px 20px;
}

.news h2 a {
  color: #111;
  text-decoration: underline;
}

.news p {
  font-size: calc(0.85em + 0.2vw);
  line-height: calc(1.5em + 0.2vw);
  word-break: break-word;
}

.news:hover {
  transform: scale(1.2);
  background: #fff;
  border: none;
}

.news-arrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fa-arrow-right {
  color: #d33a2c;
}

.detail {
  flex: 2;
}

.news-arrow {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news:hover h2 a {
  color: #d33a2c;
  text-decoration: none;
  padding: 10px 0;
  background-image: linear-gradient(#d33a2c, #d33a2c);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: center bottom 29%;
  background-origin: padding-box;
}

.news:hover .news-arrow {
  background-color: royalblue;
}

.news:hover .news-arrow a i {
  color: #fff;
}

.button-link {
  width: 230px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-link a,
.button-link i {
  color: #267dcc;
  text-align: center;
  font-family: Mija;
  font-size: calc(0.9em + 0.1vw);
}

/* END */

footer {
  height: 637px;
  background: var(--THEME_COLOR, #d33a2c);
  text-align: center;
  color: white;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

footer h4 {
  color: #fff;
  font-size: 0.9em;
  margin: 1.2em 0;
  padding-top: 60px;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

footer ul {
  margin: 2% 9% 0 9%;
}

footer ul li {
  line-height: 43px;
  word-break: break-word;
  display: inline;
  padding-left: 0;
  margin: 0.25em 0;
  transition: color 0.2s ease-out;
  font-size: calc(1.3em + 0.2vw);
}

footer ul li a {
  color: #fff;
  font-size: 1.01em;
}

footer ul li a:hover {
  color: #333;
}

.footer-middle-div {
  margin-top: 66px;
  font-style: italic;
  font-size: 1em;
}

.footer-middle-div p {
  margin: 0;
}

.footer-middle-div a {
  color: #fff;
  text-decoration: underline;
}

.footer-second-list a {
  color: #fff;
  text-decoration: underline;
  padding-bottom: 3px;
  padding: 7px;
}

.footer-second-list ul {
  width: 64%;
  margin-left: 17%;
}
.backgound-image {
  background-image: url(../images/cat-the-behemoth.svg);
  background-position: 105% 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: 376px 153px;
}

.backgound-image-bird {
  background-image: url(../images/laptop__left.svg);
  background-position: 2% 103%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: 300px 180px;
}

.banner {
  color: white;
  background-color: #267dcd;
  padding: 50px 280px;
  margin: 10px 0;
}

.txt-center {
  text-align: center;
}

.banner h1,
.banner h4,
.banner p {
  margin-bottom: 30px;
  text-shadow: 2px 2px 2px rgba(10, 12, 11, 0.6);
}

.banner h1 {
  font-size: 2.1em;
}

.banner h1 a {
  color: white;
  text-decoration: underline #166ac3;
}

.banner p {
  font-size: 18px;
  line-height: 1.6;
}

.light-btn {
  cursor: pointer;
  color: #267dcd;
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 30px;
  border-radius: 10px;
  border: none;
}

.person-of-week {
  clear: both;
  margin-top: 74px;
  height: 125px;
}

.person-of-week h1 {
  line-height: 29px;
  font-weight: 100;
}

.person-of-week p {
  line-height: 25px;
  padding: 14px 10px 10px;
  color: #333;
}

.person-of-week p a {
  text-decoration: underline;
}

.col2-person-of-week {
  float: left;
  width: 17%;
}

.col10-person-of-week {
  float: left;
  width: 83%;
}

.person-of-week img {
  width: 150px;
  height: 140px;
  background-color: white;
  margin-right: 30px;
  border: 4px solid red;
  border-radius: 8px;
  margin-left: 50px;
}

.book-section {
  display: flex;
  height: 337px;
  margin-top: 136px;
  background-color: #d33a2c;
  border-radius: 0;
  color: #fff;
  padding: 2.5em 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.book-left {
  flex-basis: 65%;
}

.book-left span {
  line-height: 3em;
  font-size: 0.8em;
}

.book-left h1 {
  font-size: 2em;
  line-height: 1.9em;
}

.book-left p {
  line-height: 1.5em;
  font-weight: 100;
}

.book-right {
  padding-left: 10%;
  flex-basis: 35%;
  margin-top: -59px;
}

.book-img {
  width: 200px;
  height: 245px;
  transform: rotate(-23deg);
  transform-origin: left bottom;
}

.popup-text {
  position: absolute;
  margin-left: 390px;
  margin-top: 15px;
  width: 15em;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  z-index: 11;
}

mark {
  background-color: white;
}

/* START: Guid section */

.guids {
  display: flex;
  justify-content: space-around;
  background: #f6f3f2;
}

.guid {
  border: none;
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  z-index: 99;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.guid-btn {
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: calc(1em + 0.25vw);
  padding: 0.75em 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  background: #333;
}

.guild1 .guid-btn {
  background-image: linear-gradient(#41b14f, #41b14f);
}

.guild2 .guid-btn {
  background-image: linear-gradient(#ff5a00, #ff5a00);
}

.guild3 .guid-btn {
  background-image: linear-gradient(#aa1a94, #aa1a94);
}

/* END: Guid section */
