* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  background: var(--THEME_COLOR,#d33a2c);
  padding: 1rem 2em;
  height: 110px;
  z-index: 2;
  align-items: center;
}

.nav-item {
  padding: 0 10px;
}

.nav-item > a {
  color: white;
  padding: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.nav-item > button {
  color: white;
  padding: .35em .9rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  font-size: 24px;
  z-index: 3;
  font-weight: 700;
}

.logo {
  height: 3.5em;
  transform: translate(0,15%);
}

.nav-item {
  flex: 1;
}

.nav-item11 {
  flex: 2;
}

.nav-item11 input {
  outline: 0;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 5px;
}

.nav-item10 button {
  border: none;
  border-radius: 10px;
  background-color: rgba(0,0,0,.2);
}

.nav-item10 button {
  max-width: 100%;
  min-width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item10 button img {
  width: 32px;
  height: 32px;
}

.nav-item a {
  border: none;
  border-radius: 10px;
}

.nav-item:not(.nav-item1) a:hover {
  background-color: rgba(0,0,0,.2);
}



footer {
  height: 500px;
  background: var(--THEME_COLOR,#d33a2c);
  text-align: center;
  color: white;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}
footer h4{
  color: #fff;
    font-size: .9em;
    margin: 1.2em 0;
    padding-top: 60px;
    opacity: 1!important;
    transform: translateY(0)!important;
}
footer ul {
  margin: 10% 9% 0 9%;
}
footer ul li {
  line-height: calc(1.5em + .2vw);
    word-break: break-word;
    display: inline;
    padding-left: 0;
    margin: .25em 0;
    transition: color .2s ease-out;
    font-size: calc(1.3em + .2vw);
}
footer ul li a{
  color: #fff;
  font-size: 1.01em;
}
.footer-middle-div{
  margin-top: 66px;
  font-style: italic;
  font-size: 1em;
}
.footer-middle-div p{
  margin: 0;
}

